<mat-toolbar color="primary">
  <span>
    <a routerLink="">My Posts</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a routerLink="/create" mat-button routerLinkActive="mat-warn">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/login" mat-button routerLinkActive="mat-warn">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/signup" mat-button routerLinkActive="mat-warn">Sign Up</a>
    </li>
    <li>
      <button  mat-button *ngIf="userIsAuthenticated" (click)="logoutUser()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
