
<form (submit)="onSavePost(postForm)" #postForm="ngForm">
  <mat-card>
    <mat-form-field>
      <input
      matInput
      name="title"
      required
      ngModel
      placeholder="Post Title"
      minlength="3"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter the valid title here</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      name="content"
      rows="4"
      required
      ngModel
      placeholder="Post Content"
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter the valid content here</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="primary"
    type="submit" [disabled]="postForm.invalid">Save Post</button>
  </mat-card>
</form>
