<!-- This is a Reactive Form -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
        <input
        matInput
        name="title"
        formControlName="title"
        placeholder="Post Title">
        <mat-error *ngIf="form.get('title').invalid">Please enter the valid title here</mat-error>
      </mat-form-field>
      <div>
        <button mat-stroked-button (click)="chooseFile.click()" type="button">Pick File</button>
        <input type="file" #chooseFile (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf = "imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <mat-form-field>
        <textarea
        matInput
        name="content"
        formControlName="content"
        rows="4"
        placeholder="Post Content"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Please enter the valid content here</mat-error>
      </mat-form-field>
      <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled] = "form.invalid">Save Post</button>
  </form>
</mat-card>
